<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="EnableMarketsThread" value="True"/>
    <add key="EnableMultiPairsThread" value="True"/>
    <add key="StandaloneMode" value="True"/> <!-- will not display the results. Used for notifications only-->
    <add key="MultiCurrencyNotificationThreshold" value="0.899"/>
  </appSettings>
</configuration>
